/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.form {
  justify-content: center;
  inline-size: 100%;
  max-inline-size: 409px;
  padding-inline: var(--cpd-space-6x);
  margin-block-end: var(--cpd-space-16x);
  box-sizing: border-box;
}

.fieldRow {
  margin-block-end: var(--cpd-space-6x);
}

.fieldRow:last-child {
  margin-block-end: 0;
}

.button {
  padding-inline: var(--cpd-space-6x);
}

.recentCallsTitle {
  margin-block-end: var(--cpd-space-8x);
}

.notice {
  color: var(--cpd-color-text-secondary);
}

.calendarLink {
  margin-block-end: var(--cpd-space-6x);
}
